:root {
  --bg-color: #f7f8f9;
  --btn-color: #00c4b8;
  --sky-blue: #3cb4f7;
  --mint-green: #63eab1;
  --purple: #856be9;
  --black: #212121;
  --dark-gray: #333333;
  --medium-gray: #666666;
  --light-gray: #a0a0a0;
  --off-white: #efefef;
}
