:root {
  --bg-color: #f1f4fd;
  --btn-color: #8686fc;
  --bg-purple-color: #f2eaff;
  --color--orange: #ffe8e3;
  --color--pink: #fdd9f0;
  --color--yellow: #f5ecd3;
  --color--green: #dde6e4;
  --color--blue: #e3e8f0;
  --color--purple: #cfcffe;
  --color--gray: #f5f5f5;
}
