[class^='community_'] {
  .inner {
    max-width: 128rem;
  }
}
.community {
  .inner {
    max-width: 120rem;
  }
  h1 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
  }
  .sub_title {
    font-size: 1.8rem;
    margin: 1rem 0 10rem;
    text-align: center;
  }
  .search_box {
    width: 58rem;
    border-bottom: 3px solid #000;
    padding-bottom: 6px;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    input {
      width: calc(100% - 28px);
      border: none;
    }
    button {
      float: right;
      padding: 6px 0 6px 6px;

      &::before {
        content: '';
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url(/images/icon_search.png) no-repeat center center;
        vertical-align: top;
      }
    }
  }
  .create_post {
    display: flex;
    justify-content: flex-end;
    button {
      background: var(--btn-color);
      color: #fff;
      border-radius: 0.5rem;
      padding: 1rem;
      font-size: 1.8rem;
      text-align: center;
      width: 15rem;
    }
  }
  .post_list {
    margin-top: 2rem;

    .empty {
      text-align: center;
      font-size: 1.7rem;
    }
  }
  .post_table {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-bottom: 5rem;

    thead {
      display: none;
    }

    th {
      padding: 1.5rem 2rem;
      background: #f5f5f5;
      font-weight: bold;
    }

    tr {
      border-bottom: 1px solid #ccc;
      td {
        padding: 2.3rem 3rem;

        &:nth-of-type(1) {
          width: 6%;
          color: #555;
        }
        &.date {
          width: 10%;
          color: #555;
          padding: 2.3rem 1rem;
          text-align: center;
        }
        &.author {
          width: 10%;
          color: #555;
          padding: 2.3rem 1rem;
          text-align: center;
        }
        &.title {
          cursor: pointer;
          font-size: 1.7rem;
        }
        .comment {
          color: var(--btn-color);
          font-size: 1.7rem;
          margin-left: 1rem;
        }

        a {
          font-size: 1.7rem;
          font-weight: 700;
        }
      }
    }
  }

  .form_group {
    margin-bottom: 2rem;
    input {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      padding: 1rem;
    }
    .quill {
      .ql-container {
        height: 50rem;
      }
    }
  }
}

.post_detail {
  .post_title {
    font-weight: bold;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  .post_date {
    display: block;
    text-align: right;
    font-size: 1.7rem;
    letter-spacing: -1px;
  }
  .post_desc {
    p {
      font-size: 1.8rem;
      margin: 0;
    }
  }

  .post_actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    gap: 1rem;
    align-items: center;
    span {
      color: #333;
    }
    .recommend_button {
      position: relative;
      top: -3px;
    }
  }
  .comment {
    margin-top: 2rem;
    border-top: 1px solid #ccc;
    padding-top: 4rem;
  }
  .comment_section {
    .add_comment {
      textarea {
        width: 100%;
        height: 10rem;
        border: 1px solid #ccc;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 2rem;
        resize: none;
      }
      button {
        background: var(--btn-color);
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 1rem;
        margin-top: 1rem;
        width: 100%;
      }
    }
  }

  .comments_list {
    padding: 0;
    margin-top: 5rem;

    li {
      border-bottom: 1px solid #ccc;
      padding: 1.2rem 0;
      position: relative;

      &:first-child {
        border-top: 1px solid #ccc;
      }
    }
    .edit_comment {
      textarea {
        width: 100%;
        height: 10rem;
        border: 1px solid #ccc;
        border-radius: 1rem;
        padding: 1rem;
        margin-top: 2rem;
        resize: none;
      }
      .button_box {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        margin-top: 1rem;
        width: auto;
      }
      button {
        border-radius: 1rem;
        padding: 0.2rem 2rem;

        &.save {
          background: var(--btn-color);
          color: #fff;
        }

        &.cancel {
          background: #fff;
          border: 1px solid var(--btn-color);
          color: var(--btn-color);
        }
      }
    }

    .comment_item {
      .comment_desc {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
      }

      .top_cont {
        display: flex;
        gap: 1rem;
        align-items: center;

        .date {
          font-size: 1.4rem;
          color: #555;
        }
      }

      p {
        margin: 0;
      }
      .comment_actions {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 1.4rem;
        right: 0;
        gap: 1rem;
      }
    }
  }
}

.common_button {
  border-radius: 1rem;
  padding: 0.2rem 2rem;
}
.edit_button,
.cancel_button {
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
}
.delete_button,
.save_button {
  background: var(--btn-color);
  color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 5rem;

  button {
    width: 4rem;
    height: 4rem;
    font-size: 1.6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.arrow {
      border: 1px solid #ddd;
      margin: 0 3rem;
      cursor: pointer;

      &.left {
        img {
          transform: rotate(180deg);
        }
      }
    }

    &.blind {
      img {
        opacity: 0.1;
      }
    }

    &.active {
      color: #fff;
      background: var(--btn-color);
      border: none;
      position: relative;
    }
  }
}

.actions {
  display: flex;
  gap: 2rem;
  button {
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
    width: 15rem;
  }
  .create_button {
    background: var(--btn-color);
    color: #fff;
  }
  .delete_button {
    color: var(--btn-color);
    background: #fff;
    border: 1px solid var(--btn-color);
  }
}

.list_button {
  background: var(--sky-blue);
  border-radius: 0.5rem;
  padding: 1rem;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  width: 15rem;
}
