#header {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;

  .inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 0;
    gap: 10rem;
    align-items: center;

    @include pc_1680 {
      padding: 1.5rem 5rem;
    }

    @include mo_767 {
      padding: 1.5rem 1.75rem;
    }
  }

  h1 {
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;

    a {
      font-weight: 400;
      font-style: normal;
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
    }

    img {
      width: 6.5rem;
      position: absolute;
      right: -4rem;
      z-index: -1;
    }
  }

  .right_cont {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    @include mo_767 {
      display: none;
    }

    .menu_cont {
      display: flex;
      gap: 4rem;
      margin: 0;

      li {
        a {
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
    .auth_cont {
      display: flex;
      align-items: center;
      gap: 3rem;
      margin: 0;
      button {
        cursor: pointer;
      }

      a {
        font-size: 1.6rem;
      }

      .sign_up_button {
        background: var(--btn-color);
        padding: 1rem 2rem;
        border-radius: 2rem;

        a {
          color: #fff;
        }
      }
    }
  }

  .menu_list {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -100%;
    transition: all 0.5s;
    background: #fff;

    &.active {
      right: 0;
    }

    .close_button {
      position: absolute;
      top: 2.2rem;
      right: 2.15rem;
      width: 2rem;
      height: 2rem;
    }
  }

  .menu_button {
    img {
      width: 3rem;
      height: 3rem;
    }
  }

  .menu_list_all {
    width: 100%;
    height: 100%;
    padding: 9rem 0;

    .menu_cont {
      li {
        margin-bottom: 1rem;
      }
    }

    .auth_cont {
      display: flex;
      gap: 1rem;
      padding: 0 1.75rem;
      margin-top: 5rem;
    }
  }
}
