// abstracts
@import './abstracts/mixins';
@import './abstracts/responsive';

// base
@import './base/reset';
@import './base/font';
@import './base/color';

// components
@import './components/buttons';

// layout
@import './layout/header';
@import './layout/footer';
@import './layout/grid';

* {
  @include mo {
    font-size: 1.4rem;
  }
}

.dn {
  display: none;
}

.pc_ver {
  @include mo_767 {
    display: none;
  }
}

.mo_ver {
  display: none;

  @include mo_767 {
    display: block;
  }
}
