// abstracts
@import './abstracts/mixins';
@import './abstracts/responsive';

// base
@import './base/reset';
@import './base/font';
@import './base/color';

// components
@import './components/buttons';

// layout
@import './layout/header';
@import './layout/footer';
@import './layout/grid';

* {
  @include mo {
    font-size: 1.4rem;
  }
}

.dn {
  display: none;
}

.pc_ver {
  @include mo_767 {
    display: none;
  }
}

.mo_ver {
  display: none;

  @include mo_767 {
    display: block;
  }
}

.loading_spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: #000000a3;
  width: 100%;
  height: 100%;
}
