// abstracts
@import '../../common/abstracts/mixins';
@import '../../common/abstracts/responsive';

.auth_login {
  .inner {
    max-width: 60rem;
    @include mo {
      max-width: 100%;
      padding: 10rem 1.75rem;
    }
  }
  h2 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    @include mo {
      font-size: 2.5rem;
    }
  }
  p {
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem 0 5rem;
    @include mo {
      font-size: 1.6rem;
      margin: 1rem 0 5rem;
    }
    &.error {
      color: rgb(255, 0, 98);
      margin-bottom: 0;
      font-size: 1.6rem;
    }
  }
  .test_txt {
    display: block;
    color: rgb(255, 0, 98);
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  button {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.7rem;
    padding: 1rem 3rem;
    display: flex;
    cursor: pointer;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
    &.login_button {
      color: #fff;
      background: var(--btn-color);
    }
    &.social_button {
      img {
        width: 2.4rem;
      }
    }
  }
  a {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.7rem;
    padding: 1rem 3rem;
    display: flex;
    cursor: pointer;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    margin-bottom: 5rem;
  }
  form {
    margin-bottom: 1rem;
    legend {
      margin-bottom: 1rem;
      font-weight: 500;
    }
    input {
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.7rem;
      padding: 1rem 2rem;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      width: 100%;
      margin-bottom: 3rem;
      &::placeholder {
        font-weight: 400;
        color: #a6b1bf;
      }
    }
  }
}
