.info_name {
  width: 100%;
  display: block;
  font-size: 1.8rem;
  padding: 0.5rem;
  text-align: center;
}
.map_cont {
  position: relative;
  .load_info_list {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    gap: 1rem;
    justify-content: end;
    padding: 1rem;

    li {
      background: #fff;
      border-radius: 1rem;
      border: 1px solid #ccc;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }
}
